/* GLOBAL AND COMMON*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ul.hor li{
    display: inline-block;
    margin-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #32495b;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container.half {
    width: 50%;
}


/* fonts - links*/
.common-text {
    line-height: 1.5;
    font-weight: 500;
}

.caption {
    font-size: 13px;
    font-weight: 500;
}

.txt-cent {
    text-align: center;
}

.txt-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #32495b;
}

/* margins*/

.mb-40 { 
    margin-bottom: 40px;
}

.mb-30 { 
    margin-bottom: 30px;
}

.mb-20 { 
    margin-bottom: 20px;
}



/* COLUMNS & COL LAYOUT*/
.col {
    float: left;
}

.two-col .col {
    width: 50%;
}

.three-col .col {
    width:30%;
}

.three-col .col:nth-child(2) {
    margin: 0 5%;
}

.four-col .col {
    width:25%;
}



/* Custom col dimension for columns containing logo. 
No point in keeping them 50% and wasting space for other col.
.logo.col must be paired with .wider.col */

.logo.col {
    width:20%;
}

.wider.col {
    width: 80%;
}


/* Buttons */
.button { 
    display: inline-block;
    color: white;
    font-size: 14px;
    background-color: #fe775a;
    border: solid 1px #fe775a;
    border-radius: 5px;
    padding: 20px 30px;
}


/* HEADER */


/* nav */
/*menu styling*/
nav .menu i {
    padding-right: 5px;
}

nav .menu .lang-item {
    padding:0 15px;
} 

.menu-item .father:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    font-weight:900;
}


/* top nav*/
.top-nav .menu .lang-item {
    border-right: 1px solid #32495b;
}

.top-nav {
    padding: 30px 0;
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    /*pretty raw attempt to get the top nav not scrolling */
    position: fixed;
    top:0;
    width: 100%;
}

.top-nav .right-menu i {
    color: #00a4bd;
}

nav .button {
    display: inline;
    padding: 10px;
}

.login-btn.button {
    background-color:inherit;
    color:#fe775a;
}

/*bottom nav*/

.bottom-nav {
    background-color: #fff;
    padding: 25px 0;
    /* pretty raw attempt to get the top nav not scrolling */
    margin-top: 80px;
}

.bottom-nav .right-menu .menu-item {
    line-height: 30px;
}

/* Jumbotron*/

.jumbotron {
    height:600px;
    background-color: #fff4ef;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.teaser {
    width: 50%;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

/* header-divider*/

.header-divider {
    height: 86px;
    border-top: solid 3px #32495b;
    border-bottom: solid 3px #32495b;
    background-color: #afebe4;
}

/*MAIN*/

/*section */

section {
    padding: 40px 0;
}

section img {
    display: inline-block;
}

section h2 {
    font-size: 30px;
    font-weight: 800;
}

section h3 {
    font-size: 25px;
}

/* feature section*/

section.features {
    background-color: #f4f9fd;
}

section.features .product-intro img {
    width: 250px;
}

section.features .feature-box img {
    height: 100px;
    margin-bottom: 20px;
}

.feature-box {
    padding: 20px 40px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #d7dce0;
}

.feature-box h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

.feature-box .feat-list {
    font-weight:500;
}

.feature-box .list-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    color:#fe775a;
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight:900;
}

.divider {
    margin-left: auto;
    border: 1px solid #899397;
}

.feature-box.col .feat-list {
    text-align:left;
}


/* horizontal feature box */
/*selecting orizontal feature box that has different rules from vertical ones*/
.feature-box .col {
    padding:40px;
}

.feature-box .col h4,
.feature-box .col .divider {
    display: inline-block;
    vertical-align: middle;
}

.feature-box .col h4 {
    margin-right: 50px;
}

.feature-box .col .divider {
    width: 70%;
}

/* community section*/

section.community {
    background-image: linear-gradient(to right,#00a4bd,#00bca6);
    color:white;
}

.community-stat .col {
    padding: 10px ;
    border-right: 1px solid #fff;
}

.community-stat .col:nth-child(4n) {
    border-right: none;
}

.community-stat .col:nth-child(-n+4) {
    border-bottom: 1px solid #fff;
}


.community-stat img {
    margin-bottom:5px;
}


.community-stat .stat-number {
    font-size: 42px;
    font-weight: 700;
}

.community-stat .stat-number .plus{
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}

/* customer section*/
/* in this section columns aren't equally sized.*/
/*customer row*/
.container.tighter {
    width: 85%;
}
.customer-row .col{
    width:65%;
    padding-left: 50px;
}

.customer-row .col:first-child{
    width:35%;
}

.customer-row h2 {
    font-size: 48px;
}

.customer-row strong {
    font-weight:800;
}

.customer-row .common-text {
    line-height: 1.75;
}

.customer-row .customer-list {
    margin-top: 15px;
}

.customer-list .list-item {
    vertical-align: middle;
    margin-bottom: 15px;
}
.customer-list img {
    width : 125px;
    height: auto;
}

/* promoting-hubspot row */

.promoting-hubspot .col {
    width:45%;
}

.promoting-hubspot .col:last-child {
    width: 55%;
}
.promoting-hubspot h2 {
    font-size: 34px;
    padding-top: 20px;
}

.promoting-hubspot img {
    height: 350px;
    width: auto;
}

.promoting-hubspot .col:last-child {
    text-align: right;
}


/*FOOTER*/

footer { 
    padding: 40px 0;
    background-color:#32495b;
    color: #fff;
}

footer a {
    color: #cbd6e2;
}

/* sitemap row style*/

.sitemap .sitemap-list .sm-item {
    margin-bottom: 20px;
}

.sitemap .button {
    background-color: #dadee0;
    color: #32495b;
    border-color: #dadee0;
    padding: 10px;
    font-weight: 500;
}

.sitemap .snet-list .sn-item {
    margin-right: 20px;
}

/*language list row*/

.language-bar-row {
    padding-top: 25px;
    border-bottom: 1px solid #cbd6e2;
}

.language-bar-row .lang-list {
    text-align:center;
}

/* legal and policy row*/

footer .copyright {
    color: white;
}
