/* GLOBAL AND COMMON*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ul.hor li{
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #32495b;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container.half {
    width: 50%;
}


/* fonts - links*/
.common-text {
    line-height: 1.5;
    font-weight: 500;
}

.caption {
    font-size: 12px;
    font-weight: 500;
}

.txt-cent {
    text-align: center;
}

a {
    text-decoration: none;
    color: #32495b;
}

/* margins*/

.mb-40 { 
    margin-bottom: 40px;
}

.mb-30 { 
    margin-bottom: 30px;
}

.mb-20 { 
    margin-bottom: 20px;
}



/* COLUMNS & COL LAYOUT*/
.col {
    float: left;
}

.two-col .col {
    width: 50%;
}

.three-col .col {
    width:30%;
}

.three-col .col:nth-child(2) {
    margin: 0 5%;
}

.four-col .col {
    width:25%;
}


/* Buttons */
.button { 
    display: inline-block;
    color: white;
    font-size: 14px;
    background-color: #fe775a;
    border: solid 1px #fe775a;
    border-radius: 5px;
    padding: 20px 30px;
}


/* HEADER */


/* nav */

/*menu styling*/


nav .menu i {
    padding-right: 5px;
}

nav .menu li {
    padding:0 10px;
} 

.menu-item .father:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    font-weight:900;
}

nav .right-menu {
    text-align: right;
}



/* top nav*/
.top-nav .menu .menu-item.lang-menu {
    border-right: 1px solid #32495b;
}

.top-nav {
    padding: 30px 0;
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    /* CODICE DA RIVEDERE O CANCELLARE*/
    /* position: fixed;
    top:0;
    width: 100%; */
    /* FINE CODICE DA RIVEDERE O CANCELLARE*/
}

.top-nav .right-menu i {
    color: #00a4bd;
}

nav .button {
    display: inline;
    padding: 10px;
}

.login-btn.button {
    background-color:inherit;
    color:#fe775a;
}

/*bottom nav*/
.bottom-nav {
    background-color: #fff;
    /* CODICE DA RIVEDERE O CANCELLARE*/
    /* margin-top: 80px; */
    /* FINE CODICE DA RIVEDERE O CANCELLARE*/
    padding: 25px 0;
}

.bottom-nav .right-menu .menu-item {
    line-height: 30px;
}

/* bot-nav custom col dimension. Logo has no point being 50% considering menu col may grow. */
.bottom-nav.two-col .col:first-child {
    width:20%;
}

.bottom-nav.two-col .col:last-child {
    width:80%;
}

/* Jumbotron*/
.jumbotron {
    height:600px;
    background-color: #fff4ef;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.teaser {
    width: 50%;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

/* header-divider*/

.header-divider {
    height: 86px;
    border-top: solid 3px #32495b;
    border-bottom: solid 3px #32495b;
    background-color: #afebe4;
}

/*MAIN*/

/*section */
section {
    padding: 40px 0;
}

section img {
    display: inline-block;
}

section h2 {
    font-size: 30px;
    font-weight: 800;
}

section h3 {
    font-size: 25px;
}

/* feature section*/

section.features {
    background-color: #f4f9fd;
    /* CODICE DA RIVEDERE O CANCELLARE*/
    /* FINE CODICE DA RIVEDERE O CANCELLARE*/
}

section.features .product-intro img {
    width: 250px;
    /* margin-bottom: 10px; */
}

section.features .feature-box img {
    height: 100px;
    margin-bottom: 20px;
}

.feature-box {
    padding: 20px 40px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #d7dce0;
}

.feature-box h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

.feature-box .feat-list {
    font-weight:500;
}

.feature-box .feat-list-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    color:#fe775a;
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight:900;
}

.divider {
    margin-left: auto;
    border: 1px solid #899397;
}

.feature-box.col .feat-list {
    text-align:left;
}


/* horizontal feature box */
/*selecting orizontal feature box that has different rules from vertical ones*/
.feature-box .col {
    padding:40px;
    width:20%;
}

/*text column needs more space than img one.*/
.feature-box .col:last-child {
    width: 80%;
}

.feat-list.hor .feat-list-item {
    margin-right: 15px;
}

.feature-box .col .feat-description {
    width: 90%;
}

.feature-box .col h4,
.feature-box .col .divider {
    display: inline-block;
    vertical-align: middle;
}

.feature-box .col h4 {
    margin-right: 50px;
}

.feature-box .col .divider {
    width: 70%;
}

/* community section*/

section.community {
    background-image: linear-gradient(to right,#00a4bd,#00bca6);
    color:white;
}

.community-stat .col {
    padding: 10px ;
    border-right: 1px solid #fff;
    /* CODICE DA RIVEDERE O CANCELLARE*/
    /* FINE CODICE DA RIVEDERE O CANCELLARE*/
}

.community-stat .col:nth-child(4n) {
    border-right: none;
}

.community-stat .col:nth-child(-n+4) {
    border-bottom: 1px solid #fff;
}


.community-stat img {
    margin-bottom:5px;
}


.community-stat .stat-number {
    font-size: 42px;
    font-weight: 700;
}

.community-stat .stat-number .plus{
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}

